@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
--green: #27ae60;
--black: #192a56;
--light-color: #666;
--box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);

        /* Pause the animation */
        animation-play-state: paused;
        /* Bind the animation to scroll */
        animation-delay: calc(var(--scroll) * -1s);
        /* These last 2 properites clean up overshoot weirdness */
        animation-iteration-count: 1;
        animation-fill-mode: both;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
  
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}



section {
    padding: 2rem 9%;
}

.green
{
    color:green;
    font-weight:bolder;

}

.red
{
    color:red;
    font-weight:bolder;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: #192a56;
    font-size: 5rem;
    padding-bottom: 2rem;
    font-family: Lobster;
    letter-spacing: 2px;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--green);
    letter-spacing: .1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--green);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--green);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
    width: 10px;
    height: 10px;
}

nav {
    animation-name: fadetoblack;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadetoblack {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadetoblack {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadetoblack {
    -webkit-animation-name: fadetoblack;
    animation-name: fadetoblack;
}

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: var(--green);
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

#menu-bar {
    font-size: 2rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-family: Birthstone;
    font-size: 10em;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 10rem;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5rem 2rem;
    font-size: 10rem;
    text-shadow: 1px 1px white;
    color:green;
}

.home .content p {
    font-family: Poppins;
    font-size: 3em;
    font-weight: 900;
    line-height: 65px;
    text-align: justify;
    margin-bottom: 30px;
    font-size: 4rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
}

.home .content span {
    font-size: 5rem;
    font-weight: 600;
    color: red;
    text-shadow: 1px 1px white;
}

.home .content a {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.home .content a:hover {
    background: var(--green);
    letter-spacing: .1rem;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.bounce {
    animation: animate 1.1s infinite;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 9999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 30px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(3.2);
    z-index: 99999;
}

.slider-navigation .tinyvideo {
    width: 25px;
    height: 25px;
    border-radius: 2rem;
    position: relative;
    transform: translateX(-40%) translateY(-40%);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}


.dishes
{
    background-color: rgb(59, 56, 56); 
}

.dishes .heading
{
    color:white;
}
.dishes .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    
}

.dishes .box-container .box {
    flex: 1 1 40rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: 20rem 5rem;
    cursor: pointer;
  background-color: rgb(59, 56, 56); 

}

.dishes .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
    margin: auto;
    z-index:1;
}

  

.dishes .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 2rem;
   
    border-radius: 20rem 5rem;,
    margin-top: 5rem;
    z-index:-1;
}

.dishes .box-container .box .content img {
    margin: 2.5rem 0;
    border-radius: 5rem 10rem;
    border: 2rem solid rgb(59, 56, 56) ;
}

.dishes .box-container .box .content h3 {
    font-size: 2.5rem;
    color: black;
}

.dishes .box-container .box .content p {
    font-size: 1.6rem;
    color:black;
    padding: 1rem 0;
}

.dishes .box-container .box:hover .image {
    top: 0;
}

.dishes .box-container .box:hover .content {
    transform: translateY(100%);
}

.load-hidden {
    visibility: hidden;
}



.dishes {
    animation-name: scroll;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 5rem;
    padding: .5rem 0;
    font-family: Lobster;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: .5rem 0;
    line-height: 2;
    font-family: 'Shadows Into Light';
}

.about span
{
    color: var(--light-color);
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: .5rem 0;
    line-height: 2;
    font-family: 'Shadows Into Light';
}

.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}

.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}

.about p {
    font-family: Poppins;
    font-size: 2rem;
}


.about {
    animation-name: scroll;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.contact .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.contact .icons-container .icons {
    padding: 2rem;
    border-radius: .5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact .icons-container .icons i {
    font-size: 2.5rem;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.contact .icons-container .icons h3 {
    font-size: 2.2rem;
    padding: 1rem 0;
    color: #130f40;
}

.contact .icons-container .icons p {
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
}

.contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.contact .row form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.contact .row form h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: #130f40;
}

.contact .row form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact .row form .inputBox input {
    width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    margin: .7rem 0;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
    width: 100%;
}

.contact .row .map {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    width: 100%;
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact p {
    font-family: Poppins;
    font-size: 2rem;
}

.contact{
    animation-name: scroll;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.menu
{
background-color: rgb(59, 56, 56);  
}
.menu .heading
{
    color:white;
}

.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.menu .box-container .box {
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
}
.menu .box-container .box .price{
    position: absolute;

    background:var(--red);
    color:red;
    font-size: 3rem;
    font-weight:bold;
    padding:.5rem 1rem;
    border-radius: .5rem;
    text-shadow: 1px 1px white;

  }

  .menu .box-container .box  span.green{
background-color: rgba(255, 255, 255, 0.7);
border-radius: 25rem 2rem;
  }




.menu .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.menu .box-container .box .content h3 {
    font-size: 2.5rem;
    color: rgb(51, 51, 51);
}

.menu .box-container .box .content p {
    font-size: 1.5rem;
    color: rgb(255, 0, 0);
    padding: 1rem 0;
}

.menu .box-container .box:hover .content {
    top: 0;
}


.menu {
    animation-name: scroll;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.carwash .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.carwash .row .image {
    flex: 1 1 45rem;
}

.carwash .row .image img {
    width: 100%;
}

.carwash .row .content {
    flex: 1 1 45rem;
}

.carwash .row .content h3 {
    color: var(--black);
    font-size: 2rem;
    padding: .5rem 0;
}

.carwash .row .content p {
    color: var(--light-color);
    font-size: 1.1rem;
    padding: .5rem 0;
    line-height: 2;
}

.carwash .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.carwash .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.carwash .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}

.carwash .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}

.carwash video {
    z-index: 000;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 77vh;
}

.carwash ul {
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
}

.carwash {
    animation-name: scroll;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.featured .featured-slider .slide {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.featured .featured-slider .slide .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    height: 35rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: .5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 1;
}

.featured .featured-slider .slide .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    background: #fff;
    border-radius: .5rem;
}

.featured .featured-slider .slide:hover .icons {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.featured .featured-slider .slide .image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.featured .featured-slider .slide .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.featured .featured-slider .slide:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.featured .featured-slider .slide .content {
    padding: 1rem 1.5rem;
}

.featured .featured-slider .slide .content h3 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.featured .featured-slider .slide .content .price {
    padding: .5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.featured .featured-slider .slide .content .price .amount {
    font-size: 2.2rem;
    font-weight: bolder;
    color: #130f40;
}

.featured .featured-slider .slide .content .price .cut {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #666;
}

.featured .featured-slider .slide .content .price .offer {
    font-size: 2rem;
    color: #eb4d4b;
}

.featured .featured-slider .slide .content .stars {
    font-size: 1.7rem;
}

.featured .featured-slider .slide .content .stars i {
    color: gold;
}

.featured .featured-slider .slide .content .stars span {
    color: #666;
}

.featured {
    animation-name: scroll;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}

.steps .box {
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
}

.steps .box img {
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.steps .box h3 {
    font-size: 3rem;
    color: #333;
    padding: 1rem;
}

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box {
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.gallery .box-container .box .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.featured .featured-slider .slide {
    border-radius: 5rem;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 1rem solid rgba(0, 0, 0, 0.3);
}

.featured .featured-slider .slide .featuredicons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    height: 35rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: .5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 99999999999;
}

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    color: #130f40;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #130f40;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 0.5rem;
}

.featured .featured-slider .slide .featuredicons a {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.featured .featured-slider .slide .featuredicons a:hover {
    background: var(--green);
    letter-spacing: .1rem;
}

.featured .featured-slider .slide:hover .featuredicons {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.featured .featured-slider .slide .featuredimage {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.featured .featured-slider .slide .featuredimage img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.featured .featured-slider .slide:hover .featuredimage img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.featured .featured-slider .slide .featuredcontent {
    padding: 1rem 1.5rem;
}

.featured .featured-slider .slide .featuredcontent h3 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.featured .featured-slider .slide .featuredcontent .price {
    padding: .5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.featured .featured-slider .slide .featuredcontent .price .amount {
    font-size: 2.2rem;
    font-weight: bolder;
    color: #130f40;
}

.featured .featured-slider .slide .featuredcontent .price .cut {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #666;
}

.featured .featured-slider .slide .featuredcontent .price .offer {
    font-size: 2rem;
    color: #eb4d4b;
}

.featured .featured-slider .slide .featuredcontent .stars {
    font-size: 1.7rem;
}

.featured .featured-slider .slide .featuredcontent .stars i {
    color: gold;
}

.featured .featured-slider .slide .featuredcontent .stars span {
    color: #666;
}

.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative; 
    overflow:hidden;
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
    overflow:hidden;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
    overflow:hidden;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    overflow:hidden;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
    overflow:hidden;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
    overflow:hidden;
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
    overflow:hidden;
}

.order .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 80vh;
}

.order .box-container .box {
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    background: #333;
    flex: 1;
}

.order .box-container .box img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.order .box2 {
    width: 500px;
    top: 0;
    left: 0;
}

.order .box-container .box2 {
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1;
    background: #333;
}

.order .box-container .box2 img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.order .box3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.order .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.order .box-container .box .stars i {
    font-size: 2rem;
    color: var(--red);
    padding: .5rem 0;
}

.order .box-container .box p {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer .credit {
    text-align: left;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 1rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--green);
}

#scroll-top {
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
}

#scroll-top.active {
    top: calc(100% - 12rem)
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9910000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out {
    top: -120%;
}
/* media queries  */

@media(max-width:5040px) {
    html {
        font-size: 100%;
    }
    header {
        padding: 1rem;
    }
    section {
        padding: 5px 20px;
    }
}

@media(max-width:4040px) {
    html {
        font-size: 70%;
    }
    header {
        padding: 1rem;
    }
    section {
        padding: 5px 20px;
    }
    .menu .box-container .box .content h3 {
        font-size: 1.2rem;
        color: #333;
    }
}

@media(max-width:2040px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 1rem;
    }
    section {
        padding: 20px 20px;
    }
}

@media(max-width:1040px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 50px 20px;
    }
}


@media(max-width:1024px) {
    .home video {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    #menu-bar {
        display: initial;
        height: 100px;
        width: 100px;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }

    .home .content span {
        font-size: 1em;
    }
    .home .content p {
        font-size: 2em;
        line-height: 25px;
    }

    .home .content p {
        font-size: 5rem;
        line-height: 5rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 17rem;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 20rem;
        text-shadow: 1px 1px white;
        color:green;
    }

    
}


@media(max-width:768px) {
    .home video {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    #menu-bar {
        display: initial;
        height: 100px;
        width: 100px;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
    .home .content h1 {
        font-size: 7em;
    }
    .home .content p {
        line-height: 25px;
    }
    .home .content span {
        font-size: 1em;
    }
    .home .content p {
        font-size: 2em;
        line-height: 25px;
    }

    .home .content p {
        font-size: 1.6rem;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 7rem;
        text-shadow: 1px 1px white;
        color:green;
    }

    
}

@media(max-width:600px) {
    .nav-btn.tinyvideo {
        z-index: 999999;
        position: absolute;
        width: 2px;
        height: 2px;
    }
    html {
        font-size: 50%;
    }
    .order .row form .inputBox input {
        width: 100%;
    }
    .heading {
        font-size: 2rem;
    }
    .carwash video {
        object-fit: fill;
        height: 50vh;
    }
    .carwash ul {
        font-size: 1.5rem;
        list-style-type: none;
        text-align: center;
    }
}


@media(max-width:450px) {
    .nav-btn.tinyvideo {
        z-index: 999999;
        position: absolute;
        width: 2px;
        height: 2px;
    }
    html {
        font-size: 50%;
    }
    .order .row form .inputBox input {
        width: 100%;
    }
    .heading {
        font-size: 2rem;
    }
    .carwash video {
        object-fit: fill;
        height: 50vh;
    }
    .carwash ul {
        font-size: 1.5rem;
        list-style-type: none;
        text-align: center;
    }
}



@media(max-width:400px) 
{

    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 40px 20px;
    }
    .carwash ul {
        font-size: 1rem;
        list-style-type: none;
        text-align: center;
    }
    .home .content h1 {
        line-height: 25px;
        margin-bottom: 30px;
    }
    .home .content span {
        font-size: 1em;
    }
    .home .content p {
        font-size: 1.2em;
        line-height: 25px;
    }

    .menu .box-container .box .content p {
        font-size: 0.9rem;
        color: #666;
        padding: 1rem 0;
    }
        
        header .logo {
    font-size: 1.5rem;
    }
        
        .home .content span {
    text-shadow: 1px 1px #000000;
    }
        .home .content p {

    text-shadow: 1px 1px black;
    }

    .home .content p {
        font-size: 1.6rem;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 7rem;
        text-shadow: 1px 1px white;
        color:green;
    }
  


}



@media screen and (min-device-width: 401px) and (max-device-width: 449px) 
{

    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 40px 20px;
    }
    .carwash ul {
        font-size: 1rem;
        list-style-type: none;
        text-align: center;
    }
    .home .content h1 {
        line-height: 25px;
        margin-bottom: 30px;
    }
    .home .content span {
        font-size: 1em;
    }
    .home .content p {
        font-size: 1.2em;
        line-height: 25px;
    }

    .menu .box-container .box .content p {
        font-size: 0.9rem;
        color: #666;
        padding: 1rem 0;
    }
        
        header .logo {
    font-size: 1.5rem;
    }
        
        .home .content span {
    text-shadow: 1px 1px #000000;
    }
        .home .content p {

    text-shadow: 1px 1px black;
    }

    .home .content p {
        font-size: 1.6rem;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 6rem;
        text-shadow: 1px 1px white;
        color:green;
    }
  


}



@media screen and (min-device-width: 360px) and (max-device-width: 399px) 
{

    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 40px 20px;
    }
    .carwash ul {
        font-size: 1rem;
        list-style-type: none;
        text-align: center;
    }
    .home .content h1 {
        line-height: 25px;
        margin-bottom: 30px;
    }
    .home .content span {
        font-size: 1em;
    }
    .home .content p {
        font-size: 1.2em;
        line-height: 25px;
    }

    .menu .box-container .box .content p {
        font-size: 0.9rem;
        color: #666;
        padding: 1rem 0;
    }
        
        header .logo {
    font-size: 1.5rem;
    }
        
        .home .content span {
    text-shadow: 1px 1px #000000;
    }
        .home .content p {

    text-shadow: 1px 1px black;
    }

    .home .content p {
        font-size: 2rem;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 5.2rem;
        text-shadow: 1px 1px white;
        color:green;
    }
  


}





@media(max-width:320px) 
{
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 40px 20px;
    }
    .carwash ul {
        font-size: 1rem;
        list-style-type: none;
        text-align: center;
    }
    .home .content h1 {
        line-height: 25px;
        margin-bottom: 30px;
    }
    .home .content span {
        font-size: 1em;
    }
    .home .content p {
        font-size: 1.2em;
        line-height: 25px;
    }

    .menu .box-container .box .content p {
        font-size: 0.9rem;
        color: #666;
        padding: 1rem 0;
    }
        
        header .logo {
    font-size: 1.5rem;
    }
        
        .home .content span {
    text-shadow: 1px 1px #000000;
    }
        .home .content p {

    text-shadow: 1px 1px black;
    }
        
    .home .content p {
        font-size: 1.6rem;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 4.5rem;
        text-shadow: 1px 1px white;
        color:green;
    }
  

    
}



@media screen and (min-device-width: 301px) and (max-device-width: 316px) { 
   
    header .logo {
        font-size: 1.1rem;
    }

    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .home .content span {
        font-size: 2rem;
        font-family: Poppins;
    }

    .home .content p {
        font-size: 1.6rem;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 4.5rem;
        text-shadow: 1px 1px white;
        color:green;
    }
  

}


@media(max-width:300px) 
{
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 100px 20px;
    }
    .carwash ul {
        font-size: 1.2rem;
        list-style-type: none;
        text-align: center;
    }
    header .logo {
        font-size: 1.1rem;
    }
                .green {
        font-size: 2rem;
    }

    .home .content p {
        font-size: 1.2rem;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        color:black;
        text-shadow: 1px 1px white;
    }
    
    .home .content h1 {
        line-height: 40px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5rem 2rem;
        font-size: 4rem;
        text-shadow: 1px 1px white;
        color:green;
    }



}



    @media(max-width:50px) 
{
        html {
            font-size: 25%;
        }
        header {
            padding: 1rem;
        }
        section {
            padding: 10px 2px;
        }
        .carwash ul {
            font-size: 1.2rem;
            list-style-type: none;
            text-align: center;
        }
            
}
